.portfolio{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0 40px 0;


}
.portfolio__container {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}
.text {
    height: 59px;
}
.mainImage {
    background: url(../../assets/img/stripe.png) repeat-x;
    height: 14px;
    width: 100%;
    margin: 0 0 40px 0;
}

.projects {
    display: grid;
    width: 840px;
    row-gap: 30px;
    grid-template-columns: repeat(3,260px);
    justify-content: space-between;
}

/*
.projects__item {

    height: 300px;
    border: 2px solid black;

}*/
