.header {
    background-color: black;
    width: 1000px;
    margin: 0 auto;
    color: white;
    height: 146px;

}

.header__container {
    width: 840px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.title {
    text-align: left;
    margin-top: 25px;
    line-height: 45px;
    letter-spacing: .5px;
}


