body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*======================================================================================
1. GLOBAL RESET
/*======================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {-webkit-font-smoothing: antialiased;}

body {
  background: #e0e0e0;
  line-height:1;
  color:#6a6a6a;
  font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size:13px;
  font-weight:normal;
}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}

ul {list-style:none;}

a img {border:none;}

.clear {clear:both;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

/*======================================================================================
2. GLOBAL TYPOGRAPHY
/*======================================================================================*/
h1 {font-size:45px;}
h2 {font-size:36px;}
h3 {font-size:26px;}
h4 {font-size:24px;}
h5 {font-size:22px;}
h6 {font-size:20px;}



h1, h2, h3, h4, h5, h6, a {
  text-rendering: optimizeLegibility;
  font-family:'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
}

h2 {
  display: inline-block;
  line-height:40px;
  border-bottom:2px solid #000;
  margin:0 0 20px 0;
  color:#000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}