.contacts{
    background-color: white;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 0 40px 0;
    color: black;


}
.contacts__container {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;

}
.data {
    border: 1px solid white;
    width: 30%;
    padding: 20px;
}

.form {
    border: 1px solid white;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputForm {
    height: 40px;
}

.textareaForm {
    height: 100px;
}

.button {
    height: 40px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
    font-size: 22px;
    /*font-weight: bold;*/
    cursor: pointer;
    transition: background .4s linear;
}

.button:hover {
    background: black;
    color: white;
}

.data a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
